.idea/*
*.class
*.jar
*.log
*.lck
*.Rhistory
.RData
**/target/
**/.idea
.classpath*
.project*
.settings*
.Trash*
*.csv
*.lm
*.vocab
examples/**/*.svg
*.csv#
!examples/mdp/01-24h_run/graphs/*.svg
*.htm
*.html
